:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 100px;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  text-align: center;
  justify-content: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  color: #646cff;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  color: black;
  background-color: #f39041;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* .calendar-container {
  border: none;
  height: 100px; 
  border: 1px solid #ccc; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
} */

iframe {
  border: 1px solid #ccc; /* Add a border if desired */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add a shadow if desired */
  margin: 0 auto; /* Center horizontally */
  /* Center vertically */
  border-radius: 0px;
}

.calendar-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

td {
  color: black;
  border: solid #f39041;
}
tr,
th {
  border: 1px solid #ccc;
  padding: 8px;
}

th {
  background-color: gray;
}

.auth-btn {
  margin: 20px auto;
}

b {
  background-image: linear-gradient(to right, #7C8DFD, #F39041);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}